.nav-link {
    color: black !important;
    font-size: 14px;
    padding: 5px 0 0 0 !important;
}
.nav-link:hover {
    border-bottom: 2px solid green;
    cursor: pointer;
}
@media (max-width: 992px) {
    .nav-link {
        padding: 8px !important;
    }
}
.login-btn {
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 7px 35px;
    color: #fff;
    font-size: 13px;
}